<header class="main-page-header">
    <p>START YOUR DREAMS JOURNEY<br>RIGHT NOW!</p>
    <img id="plane"  src="assets/images/plane2.png" alt="" class="plane"/>
    <img id="cloud1" src="assets/images/cloud.png" alt=""/>
    <img id="cloud2" src="assets/images/cloud.png" alt=""/>
    <img id="cloud3" src="assets/images/cloud.png" alt=""/>
    <img id="cloud4" src="assets/images/cloud.png" alt=""/>
    <img id="cloud5" src="assets/images/cloud.png" alt=""/>
    <img id="cloud6" src="assets/images/cloud.png" alt=""/>
</header>
<div class="main-page-search">
    <form>
        <div class="row form-inputs-row">
            <div class="col-md-10 form-inputs-row-div">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 main-page-search__form-item">
                        <label for="departure">Departure</label><br/>
                        <input #departure id="departure" type="search" required=""/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 main-page-search__form-item">
                        <label for="arrival">Destination</label><br/>
                        <input #arrival id="arrival" type="search" required=""/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-0 main-page-search__form-item">
                        <label for="date">Date</label><br/>
                        <input #date id="date" type="date" required=""/>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 form-inputs-row-div">
                <button type='button' (click)="search(departure.value,
                        arrival.value,
                        date.value,
                        direct.checked);
                        departure.value='';
                        arrival.value='';
                        date.value='';
                        direct.checked='';">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 main-page-search__form-item">
                <label>Direct flights</label>
                <input #direct id="direct" type="checkbox"/>
            </div>
        </div>
    </form>
</div>
<h3 *ngIf="flights" class="main-page-results-header">Search results</h3>
<div *ngFor="let flight of flights" class="main-page-search-result">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-4 main-page-search__departure-and-arrival">
                <p>{{flight.departure.city}}</p>
                <p>{{flight.time_departure | date:"MM/dd hh:mm"}}</p>
            </div>
            <div class="col-md-4 col-sm-12 main-page-search__time-and-value">
                <p>Duration: {{ flight.time_arrival.getTime() - flight.time_departure.getTime() | date:"hh mm" }}</p>
                <hr/>
                <p>Prices interval: {{ flight.pricesNormal[0] }} - {{ flight.pricesVip[flight.pricesVip.length - 1] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 main-page-search__departure-and-arrival">
                <p>{{ flight.destination.city }}</p>
                <p>{{ flight.time_arrival | date:"MM/dd hh:mm" }}</p>
            </div>
        </div>
        <div class="main-page-typeofflight" *ngIf="!flight.flightHierarchy.length">
            Direct flight
        </div>
        <div class="main-page-typeofflight" *ngIf="flight.flightHierarchy.length">
            Indirect flight
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 main-page-search__show-button">
            <a href="/places">
                <button>Go</button>
            </a>
        </div>
    </div>
</div>
