<div class="book-form">
    <form>
        <div class="form-group">
            <label for="flight-number">Flight №:</label><span id="flight-number"></span>
        </div>
        <div class="form-group">
            <label for="seats">Seats:</label>
            <ul id="seats"></ul>
        </div>
        <div class="form-group">
            <label for="cost">Total value:</label><span id="Cost"></span>
        </div><br/>
        <div class="form-group">
            <label for="first-name">First name:</label>
            <input id="first-name" type="text" required=""/>
        </div>
        <div class="form-group">
            <label for="last-name">Last name:</label>
            <input id="last-name" type="text" required=""/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" required=""/>
        </div>
        <div class="form-group">
            <label for="card-number">Card №:</label>
            <input id="card-number" type="text" pattern="[0-9]{16}" required=""/>
        </div>
        <div class="form-group">
            <label for="card-ccv">CCV:</label>
            <input id="card-ccv" type="text" pattern="[0-9]{3}" required="'required'" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label for="expdate">Exp. date:</label>
            <input id="expdate" type="number" min="2017" max="2025" required=""/>
            <input id="expyear" type="number" min="4" max="12" required=""/>
        </div>
        <div class="form-group">
            <button type="submit">Book it</button>
        </div>
    </form>
</div>
